.agency-model {
    margin: 30px 0 0;
    @include m-tablet(){
        margin: 50px 0 0;
    }
    @include m-tablet-wide(){
        margin: 60px 0 0;
    }
    &__card {
        margin-top: 20px;
        @include m-phone-wide(){
            display: flex;
            align-items: stretch;
        }
    }
    &__image-wrap{

    }
    &__image {
        position: relative;
        @include m-phone-wide(){
            flex: 0 0 200px;
        }
        @include m-tablet-wide(){
            flex: 0 0 240px;
        } 
        @include m-laptop(){
            flex: 0 0 420px;

        } 
        img{
            display: block;
            height: 100%;
            object-fit: cover;
            @include m-tablet(){
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &__info {
        padding-top: 15px;
        @include m-phone-wide(){
            flex: 1 1 100%;
            background-color: rgba($color: #101010, $alpha: .9);
            padding: 30px;
        }
    }
    &__name {
        font-weight: 600;
        font-size: 18px; 
        @include m-phone-wide(){
            font-size: 20px;
        }  
        @include m-laptop(){
            font-size: 30px;
        } 
    }
    &__rating{
        margin: 0px 0 10px; 
    }
    &__text {
        font-size: 14px;
        line-height: 1.6;   
        opacity: 0.8;
        @include m-phone-wide(){
            display: none;
        }     
        @include m-tablet(){
            display: block;
            font-size: 14px;
        }
    }
    &__button {
        width: 100%;
        margin-top: 20px;
        font-size: 18px; 
        @include m-phone-wide(){
            margin-top: 10px;
            width: auto;
            min-width: 200px;
        }  
        @include m-laptop(){
            margin-top: 30px;
        } 
    }
}