.cardpage {
    &__wrap {
        color: $color_white;
        @include m-tablet(){
            display: flex;
            align-items: stretch;
        }
        &_wrapped{
            flex-direction: column;
            @include m-tablet-wide(){
                flex-direction: row;
            }
        }
    }
    &__left {
        flex: 1 1 100%;
    }
    &__main {
        margin-bottom: 20px;
        @include m-tablet(){
            margin-bottom: 40px;
        }
        @include m-tablet-wide(){
            display: flex;
            align-items: stretch;
            margin-bottom: 60px;
        }
    }
    &__imageblock {
        @include m-tablet-wide(){
            flex: 0 0 400px;
            margin-right: 30px;
            max-width: 400px;
        }
        @include m-laptop(){
            flex: 0 0 50%;
            max-width: 720px;
        }
    }
    &__image-sticky{
        @include m-tablet-wide(){
            position: sticky;
            top: 80px;
        }
        @include m-laptop(){
            top: 100px;
        }

    }
    &__image {
        position: relative;
    }
    &__image-wrap {
        @include picture(70,cover);
        @include m-tablet-wide(){
            @include picture(92,cover);
        }
    }
    &__verify {
        display: flex;
        align-items: center;
        padding: 4px;
        position: absolute;
        left: 15px;
        bottom: 15px;
        z-index: 2;
        line-height: 1;
        font-size: 12px;
        padding-right: 10px;
        padding: 0;
        @include m-tablet(){
            border: 1px solid rgba($color: $color_white, $alpha: .1);  
            padding: 4px;          
        }

    }
    &__verify-ico {
        flex: 0 0 20px;
        background-color: $color_green;
        margin-right: 10px;
    }
    &__buttons {
        .button{
            margin-top: 10px;
            @include m-tablet(){
                margin-left: 10px;
            }
        }
        @include m-tablet(){
            display: flex;
            align-items: stretch;
            white-space: nowrap;
            margin-left: -10px;
        }
        @include m-tablet-wide(){
            flex-wrap: wrap;
        }
        @include m-custom(1450px){
            flex-wrap: nowrap;
        }
    }
    &__favorite{
        &.active{
            svg{
                fill: $color_red;
                stroke: $color_red;
            }
        }
    }
    &__more-btn{
        svg{
            stroke: $color_orange;
            width: 22px;
            height: 22px;
            display: none;
            @include m-tablet(){
                display: block;
            }
        }
    }
    &__more-btn-count{
        display: none;
        @include m-tablet(){
            display: block;
            font-size: 22px;
            margin-left: 15px;
        }
    }
    &__content {
        @include m-tablet-wide(){
            flex: 1 1 100%;
        }
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
        display: flex;
        align-items: center;
        @include m-tablet(){
            font-size: 50px;
        }
    }
    &__title-verify{
        margin-left: 20px;
    }
    &__data {
        font-size: 13px;
        display: flex;
        margin: 10px 0 20px;
    }
    &__online {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        margin-right: 30px;
        svg{
            fill: $color_green;
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
    &__date {
        opacity: 0.8;
    }
    &__annotation{
        font-size: 14px;
        line-height: 1.6;
        margin: 20px 0 15px;
    }
    &__block-title{
        display: flex;
        align-items: center;
        color: $color_orange;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        @include m-tablet(){
            font-size: 20px;
        }
        &_start{
            align-items: flex-start;
            img{
                margin-top: 5px;
            }
        }
        img{
            margin-right: 15px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color_dark-red;
        padding: 20px 20px 15px;
        margin: 20px 0;
        @include m-tablet(){
            flex-direction: row;
            justify-content: center;
            gap: 15px;
            padding: 17px;
            line-height: 1;
        }
        span{
            opacity: 0.3;
        }
    }
    &__contact-phone {
        font-size: 22px;
    }

    &__sidebar {
        display: none;
        @include m-tablet(){
            display: block;
            flex: 0 0 160px;
            margin-left: 30px;
        }
        @include m-tablet-wide(){
            flex: 0 0 190px;
        }
        @include m-laptop(){
            flex: 0 0 220px;
        }
        @include m-custom(1450px){
            flex: 0 0 340px;
            margin-left: 40px;
        }
        &_shops{
            font-size: 14px;
            display: block;
            order: -1;
            margin-left: 0!important;
            flex: auto!important;
            @include m-tablet-wide(){
                flex: 0 0 240px!important;
                order: initial;
                margin-left: 30px!important;
            }
            @include m-laptop(){
                flex: 0 0 260px!important;
            }
            @include m-custom(1450px){
                flex: 0 0 340px!important;
                margin-left: 40px;
            }
            .form__item .input-checkbox{
                &:not(:last-child){
                    margin-bottom: 12px;
                }
            }
        }

    }
    &__sidebar-wrap{
        position: sticky;
        top: 80px;
        @include m-laptop(){
            top: 100px;
        }
    }
    &__widget{
        &:not(:last-child){
            margin-bottom: 10px;
            @include m-tablet-wide(){
                margin-bottom: 20px;
            }
        }
        img{
            display: block;
        }
    }
    &__show-mobile{
        @include m-tablet-wide(){
            display: none;
        }
    }
    &__hide-mobile{
        display: none;
        @include m-tablet-wide(){
            display: block;
        }
    }
    &__attr {
        background-color: #101010;
        margin: 20px -15px 0;
        padding: 0 15px;
        @include m-tablet(){
            margin: 20px 0 0;
            padding: 0 20px;
        }
    }
    &__attr-group {
        padding: 20px 0;
        &:not(:last-child){
            .cardpage{
                &__attr-list {
                    border-bottom: 2px solid rgba($color: $color_white, $alpha: .1);
                }

            }
        }
    }
    &__attr-title {
        img{
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
        span{
            font-weight: 600;
            font-size: 18px;
        }
    }
    &__attr-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: -15px;
        &_full{
            @include m-tablet-wide(){
                .cardpage{
                    &__attr-item {
                        flex: 0 0 100%;
                    }
                }
            }
            @include m-laptop(){
                .cardpage{
                    &__attr-item {
                        flex: 0 0 calc(50% - 15px);
                    }
                }
            }
        }
        &_lined{
            display: block;
            padding-bottom: 15px;
        }
    }
    &__attr-item {
        flex: 0 0 calc(50% - 15px);
        margin-bottom: 15px;
    }
    &__attr-lbl {
        color: rgba($color: $color_white, $alpha: .7);
        font-size: 13px;
    }
    &__attr-val {
        font-weight: 500;
        margin-top: 5px;
    }
    &__lined-item {
        margin-top: 20px;
        padding-left: 25px;
        position: relative;
        &:before{
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid $color_orange;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 5px;
        }
    }
    &__lined-title {
        font-weight: 500;
    }
    &__lined-text {
        font-size: 14px;
        margin-top: 10px;
        small{
            font-size: 0.9em;
            opacity: 0.7;
            display: inline-block;
            margin-top: 5px;
        }
    }
}
