.latest {
    padding: 30px 0;
    overflow: hidden;
    @include m-tablet(){
        padding: 40px 0 0;
    }
    @include m-tablet-wide(){
        padding: 60px 0 0;
    }
    @include m-laptop(){
        padding: 80px 0 0;
    }
    &_mb{
        margin-bottom: 40px;
    }
    &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include m-tablet(){
            flex-wrap: nowrap;
        }
    }
    &__top-text{
        font-size: 13px;
        flex: 0 0 100%;
        margin-top: 5px;
        @include m-tablet(){
            margin-left: 40px;
            max-width: 450px;
            margin-top: 0;
        }
    }
    &__title {
        white-space: nowrap;
    }
    &__link {
        white-space: nowrap;
        font-size: 18px;
        color: #F34F4F;
        text-transform: uppercase;
        margin-left: auto;
        display: none;
        @include m-phone-wide(){
            display: inline-flex;
            font-size: 14px;
        }
        @include m-tablet-wide(){
            font-size: 16px;
            &:hover{
                color: $color_orange;
                span{
                    &:after{
                        transform: translateX(30px);
                        opacity: 0;
                    }
                }
            }
        }
        span{
            &:after{
                content: '';
                display: inline-flex;
                width: 47px;
                height: 11px;
                background: url('../img/style/ico_arrow_red.svg') no-repeat right center;
                margin-left: 10px;
                transition: $trsn;
            }
        }
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-left: -20px;
        margin-top: 30px;
        @include m-tablet-wide(){
            margin-top: 40px;
        }
        .card{
            flex: 0 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
            margin-left: 20px;
            margin-bottom: 20px;
            @include m-phone-wide(){
                flex: 0 0 calc(33.33333% - 20px);
                max-width: calc(33.33333% - 20px);
            }
            @include m-tablet-wide(){
                flex: 0 0 calc(20% - 20px);
                max-width: calc(20% - 20px);

            }
        }
        &_4{
            .card{
                flex: 0 0 calc(50% - 20px);
                max-width: calc(50% - 20px);
                margin-left: 20px;
                margin-bottom: 20px;
                @include m-phone-wide(){
                    flex: 0 0 calc(33.33333% - 20px);
                    max-width: calc(33.33333% - 20px);
                }
                @include m-tablet-wide(){
                    flex: 0 0 calc(25% - 20px);
                    max-width: calc(25% - 20px);
    
                }
            }
        }
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-left: -5px;
        margin-top: 30px;
        @include m-tablet-wide(){
            margin-top: 40px;
        }
    }
    &__photo {
        flex: 0 0 calc(33.3333% - 5px);
        max-width: calc(33.3333% - 5px);
        margin-left: 5px;
        margin-bottom: 5px;
        @include m-phone-wide(){
            flex: 0 0 calc(25% - 5px);
            max-width: calc(25% - 5px);
        }
        @include m-tablet(){
            flex: 0 0 calc(20% - 5px);
            max-width: calc(20% - 5px);
        }
        @include m-tablet-wide(){
            flex: 0 0 calc(14.28% - 5px);
            max-width: calc(14.28% - 5px);
        }
        
    }
    &__photo-wrap {
        @include picture(100,cover);
        img{
            transition: $trsn;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    &__photo-text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(14, 14, 14, .8);
        text-align: center;
        font-size: 18px;
    }
    &__bottom{
        margin: 30px 0;
        text-align: center;
    }
    &__button{
        width: 100%;
        @include m-tablet-wide(){
            width: calc(100% - 28.56%);
        }
    }
    &__blog{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-left: -20px;
        margin-top: 20px;
        @include m-tablet-wide(){
            margin-top: 40px;
        }
        .blog-card{
            flex: 0 0 calc(100% - 20px);
            margin-left: 20px;
            @include m-phone-wide(){
                flex: 0 0 calc(50% - 20px);
                max-width: calc(50% - 20px);
            }
            @include m-tablet(){
                flex: 0 0 calc(50% - 20px);
                max-width: calc(50% - 20px);
            }
            @include m-tablet-wide(){
                flex: 0 0 calc(25% - 20px);
                max-width: calc(25% - 20px);
            }
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }
}

