//шрифты
$font_size_default: 16;
$font_size: 16px;
$line_height: 1.5;
$font_weight: 400;

$font_base: 'Montserrat','Arial',sans-serif;

$color_body: #fff;
$color_text: #fff;

$color_white: #ffffff;
$color_black: #000000;
$color_red: #7E0707;
$color_dark-red: #561212;
$color_orange: #F9A646;
$color_green: #00C232;

//отступ
$padding: 0;

//
$trsn: .2s;