
.header {
    position: sticky;
    top: 0;
    z-index: 99;
    @include m-tablet-wide(){
        position: relative;
    }
    &__top {
        background-color: $color_black;
        display: none;
        @include m-tablet-wide(){
            display: block;
        }
    }
    &__top-data {
        display: flex;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.03em;
        padding: 5px 0;
        @include m-tablet(){
            padding: 10px 0;
        }
        @include m-tablet-wide(){
            font-size: 14px;
        }
    }
    &__top-lbl {
        color: $color_white;
        opacity: 0.7;
        display: none;
        @include m-tablet(){
            display: block;
        }
    }
    &__top-links {
        margin-left: auto;
    }
    &__top-link {
        display: inline-flex;
        align-items: center;
        color: #F34F4F;
        padding: 5px 15px;
        @include m-tablet(){
            padding: 5px 20px;
        }
        &_login {
            border-left: 1px solid rgba($color: #D9D9D9, $alpha: .2);
            padding-right: 0;
            @include m-tablet(){
                padding-right: 0;
            }
        }
        span{
            transition: $trsn;
            border-bottom: 1px solid transparent;
        }
        svg{
            width: 16px;
            height: 19px;
            stroke: currentColor;
            margin-left: 10px;
        }
        &:hover{
            span{
                border-color: currentColor;
            }
        }
    }
    &__sticky-wrap{
        height: 50px;
        @include m-tablet(){
            height: 60px;
        }
        @include m-laptop(){
            height: 75px;
        }
    }
    &__sticky{
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color_dark-red;
        z-index: 99;
        &.fixed{
            position: fixed;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 50px;
        position: relative;
        @include m-tablet(){
            min-height: 60px;
        }
        @include m-laptop(){
            min-height: 74px;
        }
    }
    &__logo {
        flex: 0 0 160px;
        @include m-tablet-wide(){
            flex: 0 0 213px;
        }
        @include m-laptop(){
            flex: 0 0 240px;
        }
        img{
            display: block;
            width: 100%;
        }
    }
    &__nav {
        position: fixed;
        width: 100%;
        max-width: 100vw;
        height: calc(100vh - 50px);
        background-color: $color_dark-red;
        top: 50px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-height: 0px;
        transition: $trsn;
        overflow: hidden!important;;
        white-space: nowrap;
        &.active{
            padding: 15px 0;
            max-height: 999px;
            @include m-tablet-wide(){
                padding: 0;
            }
        }
        &.priority-nav{
            overflow: initial!important;
            white-space: initial
        }
        @include m-phone-wide(){
            max-width: 230px;
            height: auto;
        }
        @include m-tablet(){
            top: 60px;
        }
        @include m-tablet-wide(){
            position: static;
            width: initial;
            background: none;
            flex-direction: row;
            padding: 0;
            height: 60px;
            align-items: stretch;
            margin-right: -15px;
            max-width: initial;
            max-height: initial;
            overflow: initial;
            flex: 0 0 calc(100% - 213px);
            max-width: calc(100% - 213px);
        }
        @include m-laptop(){
            height: 75px;
            flex: 0 0 calc(100% - 267px);
            max-width: calc(100% - 267px);
        }
    }
    &__nav-list{
        display: flex;
        white-space: nowrap;
        margin: 0;
        padding: 0;
    }
    &__nav-item {
        display: inline-flex;
        @include m-tablet(){
            height: 100%;
        }
    }
    &__nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: 600;
        color: $color_white;
        text-transform: uppercase;
        white-space: nowrap;
        span{
            margin-left: 5px;
            padding: 3px 5px;
            background: linear-gradient(270deg, #F79301 0%, #EBBA0A 100%);
            border-radius: 50px;
            font-size: 13px;
            line-height: 1;
            color: $color_black;
            margin-top: -2px;
        }
        @include m-tablet-wide(){
            padding: 0 15px;
            font-size: 14px;
            &:hover,
            &.active{                
                background-color: rgba($color: $color_black, $alpha: .3);
                color: $color_orange;
            }
        }
        @include m-laptop(){
            padding: 0 22px;
            font-size: 17px;
        }
    }
    &__menu {
        margin-right: -15px;
        @include m-tablet-wide(){
            display: none;
        }
    }
    &__nav-submenu{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        @include m-phone-wide(){
            display: initial;
        }
        @include m-tablet-wide(){
            background-color: $color_dark-red;
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
        }
        .header__nav{
            &-item{
                flex: 0 0 50%;
                display: block;
                padding-right: 10px;
                @include m-phone-wide(){
                    padding-right: 0;
                }
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
            &-link{
                height: auto;
                font-size: 12px;
                @include m-phone-wide(){
                    height: 100%;
                    font-size: 13px;
                }
                @include m-tablet-wide(){
                    font-size: 14px;
                    padding: 10px 15px;
                }
                @include m-laptop(){
                    // padding: 0 22px;
                    // font-size: 17px;
                }
            }
        }
        &.show{
            display: block;
        }
    }
    &__nav-submenu-wrapper{
        width: 100%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: flex-start;
        height: calc(100vh - 80px);
        overflow-y: auto;
        @include m-tablet(){
            align-items: center;
            flex-wrap: nowrap;
            height: auto;
        }
        @include m-tablet-wide(){
            width: initial;
            overflow: initial;
        }
    }
    &__nav-toggle{
        background: none;
        font-size: 17px;
        border: none;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        height: 100%;
        cursor: pointer;
        white-space: nowrap;
        display: none;
        @include m-tablet-wide(){
            display: inline-block;
            font-size: 14px;
            padding: 0 15px;
        }
        @include m-laptop(){
            padding: 0 22px;
            font-size: 17px;
        }
        &.is-open,
        &:hover{
            background-color: rgba(0,0,0,.3);
            color: #f9a646;
        }
    }
    &__nav-caret{
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
}